.AuthorizationPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
form{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    margin: auto;
    
    display:flex;
    flex-direction: column;
    align-items: center;
}
.AdminPage, .LogistPage, .WorkerPage{
    display: none;
}
/*---LogistPageStart----*/
.tab{
    padding: 20px;
}
#tabs .tab{
	display: inline-block;
	padding: 5px 10 px;
	cursor: pointer;
	position: relative;
	z-index: 5;
}
#tabs .whiteborder{
	border: 1px solid #707070;
	border-bottom: 1px solid #fff;*/
	border-radius: 3px solid 0 0;
}
#tabs .tabContent{	
	width: 600px;
	height: 400px;
	border: 1px solid #707070;
	position: relative;
    top: -1px;
	z-index: 1;
	padding: 10px;
	border-radius: 0 0 3px 3px;
    display:flex;
    margin-bottom:40px;
    flex-direction: column;
    align-items: center;
}
#tabs .hide{
	display: none;
}
#tabs .show{
	display: block;
}
.carListElem{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20px;
    padding: 5px;
    margin-bottom: 5px;
}
.carListElem:first-child{
        background-color: lightgrey;

}
.carListElem:first-child{
        border-bottom:1px solid black;  }
.carListElem div :last-child{
        width: 70%;
    }
.carTime{
    width: 100px;
}
.carName{
    width: 300px;
    margin-left: 90px;
}

/*------ModalWinS-----*/
.modalWindow{
    display: none;
    z-index: 10;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    width:100%;
    height:100%;
     background-color: black;
    opacity: 0.4;
}
.modalWindowContent{
    background-color: black;
    opacity: 0.2;
    width:1000px;
    height:600px;
    z-index: 20;
        
}
/*------ModalWinS-----*/
/*------WorkerListS-----*/

.workerListElem{
    display: flex;
    justify-content: space-around;
}
.workerListElem:first-child{
    background-color: lightgrey;
    height: 40px;
}
.workerListElem:first-child p{
    margin-top:8px; 
    margin-left: 40px;
}
.workerListElem select{
    margin-top: 15px;
    width: 50px;
}
.tabContent .accept{
    display: flex;
    justify-content: flex-end;
}
.tabContent .accept p{
    width:100px;
    height: 30px;
    background-color: limegreen;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
}
/*------WorkerListS-----*/

/*------WorkerListE-----*/

/*---LogistPageEnd----*/
/*---AdminPageS----*/

.finance div{
 display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 70px;
}
.finance div:first-child{
    margin-top: 30px;
}
.row div{
    margin-right: -13px;
}
.finance input{
    height: 20px;
    width:50px;
    margin-top: 10px; 
    margin-right: 5px;
}
/*--tabsS--*/
.goodsListA{
    overflow-y: scroll;
    padding-bottom: 0;
    width: 600px;
    height:345px;
    border: 1px solid black;
}
.goodsListRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.goodsListRow div {
    width:100px;
    text-align: center;
}
.goodsListRow .goodsName {
    width:180px;
}
.goodsListRow .goodsCount {
    width:50px;
}

/*----2------*/
.workerListTable{
    width: 578px;
    height:245px;
    border: 1px solid black;
    overflow-y:scroll;
    margin-top: -11px;
    margin-left: 10px;
    margin-bottom: -15px;
}
.workersListRow{
    display: flex;
    justify-content: space-around;
    height: 20px;
    margin:10px;
}

.workersListRow div{
    width: 200px; 
    text-align: center;
    
}
.addWorker{
     display: flex;
    justify-content:space-around;
    width: 580px;
}
.addWorker p{
   width:30%;
    height: 30px;
    background-color: limegreen;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
}

/*---tabsE--*/
/*---AdminPageE----*/
.modalWinEnter{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
        z-index: 100;

}
.modalback{
    background-color: #C7B499;
    opacity: 0.6;
    position: fixed;
     top:0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modalWin{
    width: 400px;
    height: 200px;
    background-color: white;
     position: fixed;
     top:200px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.winTitle{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.winClose{
    font-size: 1.5em; 
    margin-top:-5px; 
    font-family:monospace;
    cursor: pointer;
}
.winMain{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
}
.winMain a{
    text-decoration: none;
}
.AdminPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adminTitleRow{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.adminTitleButt{
    border:1px solid black;
    border-radius: 10px;
    height:20px;
    padding: 10px;
    margin-top: 20px;
}
.adminTitleButt p{
    margin: 0;
}
a{
    text-decoration: none;

}
.winTitle p{
    margin: 0;
}



