.AuthorizationPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
form{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    margin: auto;
    
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*---LogistPageStart----*/
.tab{
    padding: 20px;
}
#tabs .tab{
	display: inline-block;
	padding: 5px 10 px;
	cursor: pointer;
	position: relative;
	z-index: 5;
}
#tabs .whiteborder{
	border: 1px solid #707070;
	border-bottom: 1px solid #fff;*/
	border-radius: 3px solid 0 0;
}
#tabs .tabContent{	
	width: 600px;
	height: 400px;
	border: 1px solid #707070;
	position: relative;
    top: -1px;
	z-index: 1;
	padding: 10px;
	border-radius: 0 0 3px 3px;
    display:flex;
    margin-bottom:40px;
    flex-direction: column;
    align-items: center;
}
#tabs .hide{
	display: none;
}
#tabs .show{
	display: block;
}
.carListElem{
    display: flex;
    justify-content: space-around;
    width: 600px;
    height: 40px;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.carListElem:first-child{
        

}

.carListElem div :last-child{
        width: 70%;
    }
.carTime{
    width: 100px;
}
.carName{
    width: 300px;
    margin-left: 90px;
}

/*------ModalWinS-----*/
.modalWindow{
    display: none;
    z-index: 10;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    width:100%;
    height:100%;
     background-color: black;
    opacity: 0.4;
}
.modalWindowContent{
    background-color: black;
    opacity: 0.2;
    width:1000px;
    height:600px;
    z-index: 20;
        
}
/*------ModalWinS-----*/
/*------WorkerListS-----*/

.workerListElem{
    display: flex;
    justify-content: space-around;
}


.workerListElem select{
    margin-top: 15px;
    width: 50px;
}
.tabContent .accept{
    display: flex;
    justify-content: flex-end;
}
.tabContent .accept p{
    width:100px;
    height: 30px;
    background-color: limegreen;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin-right: 60px;
    
}
/*------WorkerListS-----*/

/*------WorkerListE-----*/

/*---LogistPageEnd----*/
/*---AdminPageS----*/

.workerTitleRow{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.workerTitleButt{
    border:1px solid black;
    border-radius: 10px;
    height:20px;
    padding: 10px;
    margin-top: 20px;
}
.workerTitleButt p{
    margin: 0;
}
a{
    text-decoration: none;
}
.LogistPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---AdminPageE----*/
/********************/


.modalWincomW{
    position:absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.modalbgW{
    position: relative;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
.modalWinW{
    background-color: white;
    width: 800px;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    margin: auto;;
    bottom: 50px
}
/*-------------*/
.modalWinMainW{
    overflow-y: scroll;
    padding-bottom: 0;
    width: 750px;
    height:400px;
    border: 1px solid black;
    margin: auto;
}
.goodsListRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.goodsListRow div {
    width:100px;
    text-align: center;
}
.goodsListRow .goodsName {
    width:180px;
}
.goodsListRow .goodsCount {
    width:50px;
}
/*---------------*/
.modalWinButtW{
    display:flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}
.modalWinHeadW p{
    font: bold 1.5em serif;
    margin-left: 50px;
}
.goodsLack input{
    width: 40px;
    margin-top:16px;
    
}
.goodsReady input{
    margin-top: 20px;
}


/***************************/
.carListTable{
    overflow-y: scroll;
    width: 600px;
    box-sizing: border-box;
    height: 350px;
    overflow-x: hidden;
    border: 1px solid black;
    margin-top: -6px;
}

/******************/
.workerListTable{
    overflow-y: scroll;
    border: 1px solid black;
    margin-top: -1px;
    height: 260px;
    box-sizing: border-box;
}
.goodsPosition{
    display: none;
}