*{
    margin: 0;
    font-family: sans-serif;
}
header{
    background-color: black;
    width: 100%;
    height: 150px;
    display: flex;
    padding: 10px 150px;
    box-sizing: border-box;
    justify-content: space-between;
}
header img{
    width: 200px;
    height: 130px;
}
header .enter{
    height: 50px;
    width: 100px;
    background-color: #32312F;
    border-radius: 10px;
    text-align: center;
    color: white;
    font: 22px sans-serif;
    padding: 13px;
    box-sizing: border-box;
    margin-top: 40px;
    cursor: pointer;
}
header p{
    margin: 0;
}
.block1 img{
    width: 100%;
    height: 500px;
    opacity: 0.6;
    position: relative;
}
.block1 p{
    color:white;
    position: absolute;
    right:0;
    left: 0;
    margin:0 auto;
    text-align: center
}
.block2{
    background-color: #C7B499;
    height: 550px;
    margin-top: -4px;
    padding: 60px 200px;
}
.block2 img{
    width: 70px;
    height: 70px;
}
.b2Main{
    display: flex;
    justify-content: space-around;
    margin-top:70px;
}
.b2Part{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.b2Text{
    width: 240px;
}
.block3{
    display: flex;
    margin: -100px 0 ;
}
.block3 img{
    width: 33.33%;
    height: 310px;
}
.block4{
    height: 600px;
    width: 100%;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    margin-top:100px; 
    padding-top: 200px;
    color: white;
}
.b4Row{
    display: flex;
}
.b4Row{
    width: 760px;
    margin: 0 auto;
    font-size: 20px;
}
.b4text{
    padding: 60px 30px ;
}
.block4 img{
    width: 50%;
    height: 250px;
    width: 380px;
}
footer{
    height: 180px;
    width: 100%;
    background-color: black;
    color:white;
    display: flex;
    padding: 20px 200px 20px 100px;
    justify-content: space-around;
    box-sizing: border-box;
}
footer p{
    margin-bottom: 10px;
    font-size: 18px;
    font-style: italic;
}
/******************/
.modalWinEnter{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modalback{
    background-color: #C7B499;
    opacity: 0.6;
    position: fixed;
     top:0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modalWin{
    z-index: 20;
    width: 400px;
    height: 200px;
    background-color: white;
     position: fixed;
     top:200px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.winTitle{
    width: 100%;
    height: 40px;
    background-color: #32312F;
    color: white;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.winClose{
    font-size: 1.5em; 
    margin-top:-5px; 
    font-family:monospace;
    cursor: pointer;
}
.winMain{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
}
.winMain p{
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #32312F;
}
.winMain a{
    text-decoration: none;
    color: white;
}
.winMain input{
    height: 25px;
    width: 200px;
    
}
/**************/