.AuthorizationPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
form{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    margin: auto;
    
    display:flex;
    flex-direction: column;
    align-items: center;
}
.AdminPage, .LogistPage, .WorkerPage{
    display: none;
}
/*---LogistPageStart----*/
.tab{
    padding: 20px;
}
#tabs .tab{
	display: inline-block;
	padding: 5px 10 px;
	cursor: pointer;
	position: relative;
	z-index: 5;
}
#tabs .whiteborder{
	border: 1px solid #707070;
	border-bottom: 1px solid #fff;*/
	border-radius: 3px solid 0 0;
}
#tabs .tabContent{	
	width: 600px;
	height: 400px;
	border: 1px solid #707070;
	position: relative;
    top: -1px;
	z-index: 1;
	padding: 10px;
	border-radius: 0 0 3px 3px;
    display:flex;
    margin-bottom:40px;
    flex-direction: column;
    align-items: center;
}
#tabs .hide{
	display: none;
}
#tabs .show{
	display: block;
}


/*------ModalWinS-----*/

/*------ModalWinS-----*/
/*------WorkerListS-----*/


/*------WorkerListS-----*/

/*------WorkerListE-----*/

/*---LogistPageEnd----*/
/*---AdminPageS----*/



/*---AdminPageE----*/
.billListRow{
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.billListRow div{
    width: 50%;
    text-align: center;
}
.calendar{
    padding: 20px;
    width: 60%;
}
.calRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.calRow:first-child{
    width: 90%;
    margin: auto;
    height: 40px;
    margin-bottom: 20px;
}
 .butt{
    border: 1px solid black;
    width: 60px;
    border-radius: 10px;
            padding: 10px;

}

.calRow p{
    margin: 0;
    text-align: center;
}
.calDay{
    width: 40px;
    height: 40px;
    font-size: 2em;
    text-align: center;
}
.inact{
    background-color: gainsboro;
}
.sklwork{
    background-color: red;
}
.logwork{
    background-color: limegreen;
}
.relax{
    background-color: yellow;
}
.caldown{
    margin-top: 40px;
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-top: 80px;
}
.calmarks{
    display: flex;
    margin-right: 30px;
    margin-top: 40px;
}
.marktext {
    width: 70px;
}
.markblock{
    border: 1px solid black;
    height:20px;
    width: 40px;
}
.caldown p{
    margin: 0;
    margin-left: 20px;
}
.calmain{
    display: flex;
    justify-content: space-between;
}
.relbutts{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.relbut{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
}
.relbut p{
    margin: 5px 10px;
}
.salarymain{
    display: flex;
    flex-direction: column;
    padding: 20px;
   
}

.saltable{
    overflow-y: scroll;
    height: 240px;
    border: 1px solid black;
    padding: 10px;
}
.salRow{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.salRow div{
    width: 70px; 
}
/*----------------*/
.modalWincomW{
    position:absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.modalbgW{
    position: relative;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}
.modalWinW{
    background-color: white;
    width: 800px;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    margin: auto;;
    bottom: 50px
}
/*-------------*/
.modalWinMainW{
    overflow-y: scroll;
    padding-bottom: 0;
    width: 750px;
    height:400px;
    border: 1px solid black;
    margin: auto;
}
.goodsListRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.goodsListRow div {
    width:100px;
    text-align: center;
}
.goodsListRow .goodsName {
    width:180px;
}
.goodsListRow .goodsCount {
    width:50px;
}
/*---------------*/
.modalWinButtW{
    display:flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}
.modalWinHeadW p{
    font: bold 1.5em serif;
    margin-left: 50px;
}
.goodsLack input{
    width: 40px;
    margin-top:16px;
    
}
.goodsReady input{
    margin-top: 20px;
}
.mapReg{
     width: 730px;
    height:360px;
    border: 1px solid black;
    margin: auto;
    background-image: url("map.png");
    display: none;
}

/*********************/
.billListTable{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 330px;
    border: 1px solid black;
    padding-top: -40px;
    margin-top: -21px;
}
/*********************/

.workerMain{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.WorkerPage{
    /*background-image: url("fon2.jpg")*/
}
.workerTitleRow{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.workerTitleButt{
    border:1px solid black;
    border-radius: 10px;
    height:20px;
    padding: 10px;
    margin-top: 20px;
}
.workerTitleButt p{
    margin: 0;
}
a{
    text-decoration: none;
}


/*******************/
.modalWinEnter{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
        z-index: 100;

}
.modalback{
    background-color: #C7B499;
    opacity: 0.6;
    position: fixed;
     top:0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modalWin{
    width: 400px;
    height: 200px;
    background-color: white;
     position: fixed;
     top:200px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.winTitle{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.winClose{
    font-size: 1.5em; 
    margin-top:-5px; 
    font-family:monospace;
    cursor: pointer;
}
.winMain{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
}
.winMain a{
    text-decoration: none;
}